.LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LoginForm *{
    padding: 13px;
    margin: 10px;
    display: block;
    align-items: left;
    color: #CCCCCC;
    background-color: #501f3a;
}

.LoginForm input{
    width: 90%;
    font-size: 18px;
    text-align: center;
}