.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    max-width: 100%;
    min-width: 50%;
}

.myModalContent {
    padding: 10px;
    background: #CB2d6f;
    border-radius: 16px;
    min-width: 25%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    border: 4px solid #CB2d6f;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent > *{
    padding: 60px;
    margin: 5px;
    border: 4px solid #CB2d6f;
    border-radius: 16px;
}