.PatentForm{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    align-items: left;
    justify-content: space-evenly;
    background-color: #501f3a;
}

.PatentForm *{
    color: #CCCCCC;    
    background-color: #501f3a;
}

.PatentForm h1{
    text-align: center;
    font-size: 18px;
}


.PatentForm input{
    font-size: 18px;
    background-color: #501f3a;
    width: 70%;
}


.PatentForm label{
    width: 70%;
    font-size: 18px;
}